%link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/events/ideathon/201504.css', media: 'all' }
.container.events-ideathon-201504
  .row
    .col-md-10
      %h1 『医療 x ◯◯』 社内アイデアソンを実施しました！

      %p
        2015年4月13日にエムスリーで「医療・ヘルスケア」をテーマに
        %br/
        アイデアソン(決められたテーマのアイデアを話し合うイベント)を実施しました。

      .row
        .schedule
          %h2 タイムスケジュール

          %p
            アイデアソンは、2時間の中で「個人のアイデア出し⇒チームでまとめ」の作業を繰りを行うのスタイルでした。
            %br/
            次のようなタイムスケジュールで、アイデアソンを実施しました。

      .row
        %table.table.table-striped
          %thead
            %tr
              %td.step-column ＳＴＥＰ０
              %td
                .row
                  自己紹介（チーム内　各自）
                .row.description
                  一人30秒ずつ自己紹介します。
              %td.time-column{style: ''} 3分
            %tr
              %td.step-column ＳＴＥＰ１
              %td
                .row
                  デバイス・ペルソナ・シーン決定
                .row.description
                  誰の、どのようなシーンに必要なものとするか決めます。
                .row
                  .col-md-4
                    %img{src: '/images/events/ideathon/image1.jpg'}
                  .col-md-4
                    %img{src: '/images/events/ideathon/image1.jpg'}
                  .col-md-4
                    %img{src: '/images/events/ideathon/image1.jpg'}
              %td 5分
            %tr
              %td.step-column ＳＴＥＰ２
              %td
                .row
                  アイデア出し（個人）
                .row.description
                  アイデアを一人２つ、附箋に書きだします。
                .row
                  .col-md-4
                    %img{src: '/images/events/ideathon/image1.jpg'}
                  .col-md-4
                    %img{src: '/images/events/ideathon/image1.jpg'}
                  .col-md-4
                    %img{src: '/images/events/ideathon/image1.jpg'}
              %td 5分
            %tr
              %td.step-column ＳＴＥＰ３
              %td アイデア発表（全員 => チームに）
              %td 5分
            %tr
              %td.step-column ＳＴＥＰ４
              %td 再度アイデア出し（個人）
              %td 5分
            %tr
              %td.step-column ＳＴＥＰ５
              %td 効果・開発難易度を考慮しつつアイデア発表（全員）
              %td 5分
            %tr
              %td.step-column ＳＴＥＰ６
              %td チーム内投票　（全員）
              %td 5分
            %tr
              %td.step-column ＳＴＥＰ７
              %td 発表準備（全員）
              %td 10分
            %tr
              %td.step-column ＳＴＥＰ８
              %td 発表(全員)
              %td 各チーム2分
            %tr
              %td.step-column ＳＴＥＰ９
              %td 全体投票（全員）
              %td 2分

      .row
        .schedule
          %h2 運営チームの感想

          %p
            今回は次の3つの目的でアイデアソンを実施しました。

            %ul
              %li 普段仕事をしないメンバーと交流する
              %li アイデア出しのスキルアップ
              %li 新規事業を考える

            開催後に参加者からアンケートからも、メンバー間のコミュニケーションや、お互いのアイデアを通じて刺激を与え合う事ができたと思います。
            %br/
            これからも積極的にアイデアソンやハッカソンを開催して、ハッカーやプランナーにとってよりよいカルチャーを作っていきたいです！
